<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
</head>
<body>
<div th:insert="components/header"></div>
<div class="flex-profile">
    <div class="box">
        <p>koko</p>
        <div th:if="${fAllDto != null}">
            <p>koko</p>
            <table class="log-flex">
                <div th:if="${fAllDto.i != null}">
                    <tr th:each="dto:${fAllDto.i}" th:object="${fAllDto}">
                        <td><b th:text="${dto.item.title}"></b></td>
                        <ul th:each="rel:${dto.relList}" th:object="${dto.relList}">
                            <td><b th:text="${rel.team_id}"></b></td>
                        </ul>
                        <ul th:each="relm:${dto.relMemList}" th:object="${dto.relMemList}">
                            <td><b th:text="${relm.member_id}"></b></td>
                        </ul>
<!--                        <span th:if="${dto?.item?.amazon_image}">-->
<!--                            <td><b th:text="${dto.item.amazon_image}"></b></td>-->
<!--                        </span>-->
                    </tr>
                </div>
                <div th:if="${fAllDto.im != null}">
                    <p>kokodayo</p>
                </div>
                <div th:if="${fAllDto.itemNumberMap != null}">
                    <p>kokodayo</p>
                </div>
            </table>
        </div>

<!--    {teamIdList !== null && teamIdList !== undefined ? (-->
<!--    teamIdList.map((f, index) => (-->
<!--    <option key={4} value={exportFunction.teamIdToName(f.id)}>-->
<!--        {exportFunction.teamIdToName(f.id)}-->
<!--    </option>-->
<!--    ))-->
<!--    ) : (-->
<!--    <></>-->
<!--)}-->
<!--</NativeSelect>-->
<!--) : (-->
<!--<Btn onClick={toggleAddIrelFlg}>+irel</Btn>-->
<!--)}-->
<!--<br />-->
<!--<MuiPickersUtilsProvider utils={DateFnsUtils} locale={jaLocale}>-->
<!--    <DatePicker-->
<!--            variant="inline"-->
<!--            inputVariant="standard"-->
<!--            format="yyyy/MM/dd"-->
<!--            id="date"-->
<!--            label="発売日"-->
<!--            value={date}-->
<!--            onChange={handleChangeDate}-->
<!--            className="dateForm"-->
<!--            autoOk={true}-->
<!--    />-->
<!--</MuiPickersUtilsProvider>-->
<!--<br />-->
<!--<p>ItmId•{item.id}</p>-->
<!--<br />-->
<!--{item.masterId !== null && item.masterId !== undefined ? (item.masterId) : ("")}-->
<!--</li>-->
<!--<li className={media === 1 ? "textBox" : "textBoxSp"}>-->
<!--<Input-->
<!--        type="text"-->
<!--        name="ver"-->
<!--        value={tmpVer}-->
<!--        onChange={handleVerArr}-->
<!--        placeholder="バージョン(記号x,Enterで追加)"-->
<!--        className="titleInput"-->
<!--        onKeyDown={addVerArr}-->
<!--/>-->
<!--{verArr.length > 0 ? (-->
<!--verArr.map((e, index) => (-->
<!--<div className="itemBox" key={index}>-->
<!--    <p>{e}</p>-->
<!--    <Input-->
<!--            type="text"-->
<!--            name="ver"-->
<!--            value={e[1]}-->
<!--            onChange={handleVerArr}-->
<!--            placeholder="ver"-->
<!--            className="titleInput"-->
<!--            onKeyDown={addVerArr}-->
<!--    />-->
<!--</div>-->
<!--))-->
<!--):("")-->
<!--}-->
<!--<p>{item.url}</p>-->
<!--</li>-->
<!--<li className="price">-->
<!--    <p>-->
<!--        <b>{item.price}</b>&nbsp;yen-->
<!--    </p>-->
<!--    <span style={media === 1 ? column : column}>-->
<!--    <Btn onClick={registerIM}>IM登録</Btn>-->
<!--    <Btn onClick={updFctChk}>IM設定</Btn>-->
<!--    <Btn onClick={delIm}>DELETE</Btn>-->
<!--    </span>-->
<!--</li>-->
<!--</ul>-->
<!--</Text>-->
<!--</div>-->
    </div>
</div>
</body>
</html>