<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="flex-profile">
    <div class="box">
        <div th:if="${session.user.getName() == null}">
            <h2>ようこそゲストさん！</h2>
        </div>
        <div th:if="${session.user.getName() != null}">
            <h2 th:text="${'ようこそ　' + session.user.getName() + ' さん'}"></h2>
        </div>
        <p th:text="${'あたなのGitHubのIDは ' + session.user.getId()}"></p>
        <p>あなたのTOKENは</p>
        <h2 th:text="${session.user.getToken()}"></h2>
        <p>です</p>
        <p>AuthorizationヘッダにBearer Tokenの形式で上のTOKENをセットしてください</p>
        <div class="links">
            <a href="/log" class="log-h1">
                <h1>LOG PAGE</h1>
            </a>
            <a class="icon btn links-signout" th:href="@{'/signout'}">サインアウト</a>
        </div>
    </div>
</div>
</body>
</html>