<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tv</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="components/header"></div>
<div class="flex-profile">
    <div class="box">
        <p>koko</p>
        <p th:text="${'あたなのGitHubのIDは ' + test}"></p>
        <div th:if="${pAllDto != null}">
            <p>koko</p>
            <table class="log-flex">
                    <div th:if="${pAllDto.p != null}">
                        <tr th:each="p:${pAllDto.p}" th:object="${pAllDto.p}">
                            <td><b th:text="*{title}"></b></td>
                        </tr>
                        <p>kokodayo</p>
                    </div>
                    <div th:if="${pAllDto.pm != null}">
                        <p>kokodayo</p>
                    </div>
                    <div th:if="${pAllDto.pNumberMap != null}">
                        <p>kokodayo</p>
                    </div>
            </table>
        </div>
    </div>
</div>
</body>
</html>