<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="components/header"></div>
<div class="flex-profile">
    <div class="box" style="display:flex">
        <a class="twitter-timeline" href="https://twitter.com/idol_hayainfo?ref_src=twsrc%5Etfw">Tweets by idol_hayainfo</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="twitter-timeline" href="https://twitter.com/sixtoneshayain1?ref_src=twsrc%5Etfw">Tweets by sixtoneshayain1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="twitter-timeline" href="https://twitter.com/snowmanhayainfo?ref_src=twsrc%5Etfw">Tweets by snowmanhayainfo</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="twitter-timeline" href="https://twitter.com/sexyz0neinfo?ref_src=twsrc%5Etfw">Tweets by sexyz0neinfo</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="twitter-timeline" href="https://twitter.com/naniwa_hayainfo?ref_src=twsrc%5Etfw">Tweets by naniwa_hayainfo</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="twitter-timeline" href="https://twitter.com/princehayainfo?ref_src=twsrc%5Etfw">Tweets by princehayainfo</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
</body>
</html>